body {
  font-size: 16px;
  background: black;
  color: limegreen;
}

pre {
  margin-left: auto;
  margin-right: auto;
}

input, button, .button-text {
  background: black;
  color: limegreen;
  margin: 0px;
  font-family: monospace;
}

input, button {
  border: 1px green dashed;
  padding: 1px;
}

.button-text {
  margin-left: 2px;
  margin-right: 2px;
}

a:link, a:hover, a:visited, a:active {
  color: green;
}
